.section-features__list {
  display: flex;
  justify-content: space-between;

  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.section-features__list .section-features__item {
  width: 270px;
}

.section-features__title {
  color: $title-text-color;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-features__item::before {
  content: " ";
  display: block;
  background-color: $secondary-bg-color;
  background-size: contain;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;

  background-repeat: no-repeat;
  background-position: center;
}

.section-features__item:nth-child(1)::before {
  background-image: url(../images/antenna.svg);
  background-size: 70px;
}
.section-features__item:nth-child(2)::before {
  background-image: url(../images/clock.svg);
  background-size: 70px;
}
.section-features__item:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
  background-size: 70px;
}
.section-features__item:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
  background-size: 70px;
}

.section-features__desc {
  margin-top: 0;
  margin-bottom: 0;
}
